{:kotoba.app/id "cloud.itonami.isic-6209", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreickurlo5xj3kegj3kuhh7ndwx2rfr7s2phe3p2tx4lpjsa4k3lfta", :kotoba.app/embed-url "ipfs://bafkreickurlo5xj3kegj3kuhh7ndwx2rfr7s2phe3p2tx4lpjsa4k3lfta", :published {:archive "https://kotobase.net/ipfs/bafkreickurlo5xj3kegj3kuhh7ndwx2rfr7s2phe3p2tx4lpjsa4k3lfta", :size 72937, :put-status 201, :get-status 200, :at "2026-08-15T13:48:35.541Z"}}
